fortress/
!fortress/*
fortress/pak0.pak
fortress/sound/
!fortress/sound/*
fortress/sound/grentimer.wav
fortress/config.cfg
fortress/default.cfg
id1/
!id1/*
id1/pak0.pak
qtv/
!qtv/*
qw/
!qw/*
qw/QRP_map_textures_v.1.00.pk3
qw/QRP_SoA_map_textures_add-on_v.1.00.pk3
qw/QRP_item_textures_v.0.73_ez.pk3
gnu.txt
cfortress
ezquake/
!ezquake/*
ezquake/pak0.pak
ezquake/sb/
!ezquake/sb/*
ezquake/sb/sources.txt
qwfwd/
!qwfwd/*